{% extends 'adminBase.html'%}
{% block title%}Ver Edificaciones{%endblock%}
{% block contenedorPrincipal %}
{{ edificaciones|json_script:"edificaciones_json"}}
{% load static %}
<div class="d-flex justify-content-center mt-2 mb-4">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title text-center">Edificaciones</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="nombreInput" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombreInput">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="opcionInput" class="form-label">¿Es sala?</label>
                        <select id="opcionInput" class="form-select form-select mb-3" aria-label=".form-select-lg example">
                            <option value="1" selected>Todos</option>
                            <option value="2">Si</option>
                            <option value="3">No</option>
                          </select>
                    </div>
                </div>
                <div class="col">
                    <div class="d-flex flex-column align-items-center">
                        <label class="mt-2 invisible">Etiqueta</label>
                        <button class="btn btn-outline-dark mb-3" id="btnFilter" type="button" onclick="show_list_table('#EdificationTable tbody',['nombreInput','opcionInput']);">Filtrar</button>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="d-grid gap-2">
                    <a href="{% url 'createEdification'%}" class="btn btn-dark">
                        <i class="bi bi-building-add"></i>Crear Edificacion
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-center mt-3">
                    <div class="btn-group" id="paginator" role="group" aria-label="Basic example">

                    </div>
                </div>
            </div>
            <div class="table-responsive py-2" style="overflow-x: auto;overflow-y: auto; max-height: 400px;display: block;">
             
                <table class="table table-striped" id="EdificationTable">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>N° Piso</th>
                            <th>Pertenece a</th>
                            <th colspan="1">Opciones</th>
                        </tr>
                    </thead>
                    <tbody >
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/edificationFilters.js' %}"></script>
<script>
    Edifications = JSON.parse(document.getElementById('edificaciones_json').textContent);
    var flink = "{% url 'listEdification' 'name' 'option' %}";
    var LinkString = "{% url 'updateEdification' 'id' %}";
    show_list_table('#EdificationTable tbody',['nombreInput','opcionInput']);
    //show_list_table(Edifications,'#EdificationTable tbody','','linkString/id','assignmentLinkString/id');
</script>
{% endblock %}