{% extends 'adminBase.html' %}

{% block title%}MapaUCM{%endblock%}

{% block contenedorPrincipal %}
{% csrf_token %}
<div class="col">
    <div class="row">
        <div class="justify-content-center">
            <div id="map" style="min-height: 85vh;"></div>
        </div>
    </div>
</div>
{% comment %}
    EL SIGUIENTE MODAL ES PARA LAS OPCIONES O CONTROL DE CAPAS, ESTE CONTIENE CKECKBOX QUE ACTIVAN O DESACTIVAN CAPAS
{% endcomment %}

<div class="modal fade" id="layersModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="layersModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="layersModalLabel">Capas del mapa</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="layersModalBody">
                {% comment %}
                    BODY CON LAS OPCIONES
                {% endcomment %}
                <div class="form-check">
                    <input class="form-check-input" onchange="quitar(this.checked,[routePoints,routesPolylines])" type="checkbox" value="" id="flexCheckDefault" checked>
                    <label class="form-check-label" for="flexCheckDefault">
                        Caminos
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" onchange="quitar(this.checked,[buildings])" type="checkbox" value="" id="flexCheckDefault" checked>
                    <label class="form-check-label" for="flexCheckDefault">
                        Edificios
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" onchange="quitar(this.checked,[buildingPoints,buildingPolylines,buildStructures])" type="checkbox" value="" id="flexCheckDefault" checked>
                    <label class="form-check-label" for="flexCheckDefault">
                        Edificios(Herramienta)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" onchange="quitar(this.checked,[allBuildings])" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Edificios(Todos)
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

{% comment %}
    EL SIGUIENTE MODAL ES PARA ACTIVAR LA HERRAMIENTA QUE SE DESEA UTILIZAR
{% endcomment %}

<div class="modal fade" id="toolsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="toolsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="toolsModalLabel">Herramientas</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% comment %}
                    BODY CON LAS OPCIONES Herramientas
                {% endcomment %}
                <div class="form-check">
                    <input class="form-check-input" value="1" onchange="CambiarOpcion(this.value)" type="radio" name="flexRadioDefault" id="herramientaCaminos" checked>
                    <label class="form-check-label" for="herramientaCaminos">
                        Herramienta de Caminos
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" value="2" onchange="CambiarOpcion(this.value)" type="radio" name="flexRadioDefault" id="herramientaEdificios">
                    <label class="form-check-label" for="herramientaEdificios">
                        Herramienta de Edificios
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

{% comment %}
    EL SIGUIENTE MODAL SE UTILIZA PARA AÑADIR EDIFIIOS A LAS ESTRUCTURAS
{% endcomment %}
<div class="modal fade" id="buildingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="buildingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="buildingModalLabel">Añadir Edificacion a estructura</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% comment %}
                    BODY CON LAS OPCIONES PARA AÑADIR NOMBRE DE EDIFICIO O SALA A ESTRUCTURA 
                {% endcomment %}
                <select id="selectorEdificacion" class="form-select form-select-scrollable-menu" aria-label="Default select example">
                    <option value="0" selected>Selecciona una edificacion</option>
                    {% for Edif in listaEdificaciones %}
                        <option value="{{Edif.id}}">{{Edif.nombre}}</option>
                    {% endfor %}
                    
                </select>
                <div class="d-flex justify-content-center mt-2">
                    <button type="button" onclick="asociarEstructura()" class="btn btn-outline-dark" data-bs-dismiss="modal" aria-label="Close">Seleccionar</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{ puntosMapa|json_script:"puntosMapa_json"}}
{{ lineasMapa|json_script:"lineasMapa_json"}}
{{ estructurasMapa|json_script:"estructurasMapa_json"}}
{{ listaEdificaciones|json_script:"listaEdificaciones_json"}}
{{ listaEntradas|json_script:"listaEntradas_json"}}
{{ pisos|json_script:"pisos_json"}}
{% endblock %}

{% block scripts %}

<script>
    var puntosMapaIniciales = JSON.parse(document.getElementById('puntosMapa_json').textContent);
    var lineasMapaIniciales = JSON.parse(document.getElementById('lineasMapa_json').textContent);
    var estructurasMapaIniciales = JSON.parse(document.getElementById('estructurasMapa_json').textContent);
    var listaEdificacionesIniciales = JSON.parse(document.getElementById('listaEdificaciones_json').textContent);
    var listaEntradas = JSON.parse(document.getElementById('listaEntradas_json').textContent);
    var listaPisos = JSON.parse(document.getElementById('pisos_json').textContent);
    var link = "{% url 'saveData' %}"
    console.log(link);
    var map = createMap([-35.43559,-71.61971], 17);
    //Variables de opociones
    var opcionesTrabajo = "1";
    //Caminos
    var routesPolylines = L.featureGroup().addTo(map);
    var routePoints = L.featureGroup().addTo(map);

    //Edificios
    var allBuildings = L.featureGroup()
    var buildings = L.featureGroup().addTo(map);
    //Variables para añadir entradas a edificios
    var entrances = false;
    var auxiliarEntranceList = L.featureGroup()

    //Variables de creacion edificios nuevos
    var buildingPolylines = L.featureGroup().addTo(map);
    var buildingPoints = L.featureGroup().addTo(map);
    var buildStructures = L.featureGroup().addTo(map);
    var selectedBuild = null;
    //var buildingSelectedPoint = null;
    //Control customizado
    var CustomControl = customCtrl(map);
    new CustomControl({position: 'topright'}).addTo(map);

    //Grupo de layers borrados
    var deletedLayers = L.featureGroup()

    //Se rellena el mapa
    RellenarMapaIniciales()
    //Auxiliares de Caminos y Edificios
    var newRoute = false;
    var selectedLayer = null;
    var lastCircle = null;
    var secondLastCircle = null;
    

    //Herramientas al hacer click en el mapa
    map.on('click', function(e) 
    {
        //console.log(opcionesTrabajo);
        if (e.originalEvent.target.tagName.toLowerCase() != 'div') {
                return;
            }
        if (opcionesTrabajo==="1")//Construccion de caminos 
        {
            var circle = L.circle(e.latlng, {radius: 2,feature: 'newPoint',fillColor:"blue"}).addTo(routePoints);
            if (routePoints.getLayers().length > 1 && newRoute === false) {
                if (lastCircle != null) {
                    secondLastCircle = lastCircle;
                    lastCircle = routePoints.getLayers()[routePoints.getLayers().length - 1];
                    var polyline = L.polyline([lastCircle.getLatLng(), secondLastCircle.getLatLng()],{feature: 'newPoly'}).addTo(routesPolylines);
                }
                else
                {
                    lastCircle = routePoints.getLayers()[routePoints.getLayers().length - 1];
                    newRoute = false;
                }
            }else{
                lastCircle = routePoints.getLayers()[routePoints.getLayers().length - 1];
                newRoute = false;
            }
        } else if (opcionesTrabajo==="2")//Construccion de Edificios 
        {
            var circle = L.circle(e.latlng, {radius: 2,feature: 'newPoint',color:"green"}).addTo(buildingPoints);
            console.log("hola");
            if (lastCircle != null) {
                secondLastCircle = lastCircle;
                lastCircle = buildingPoints.getLayers()[buildingPoints.getLayers().length - 1];
                estructuraEdificio();
                //var polyline = L.polyline([lastCircle.getLatLng(), secondLastCircle.getLatLng()],{feature: 'newPoly'}).addTo(buildingPolylines);
            }
            else
            {
                lastCircle = buildingPoints.getLayers()[buildingPoints.getLayers().length - 1];
                newRoute = false;
            }
        }
    });
    //Al hacer click en un circulo de camino
    routePoints.on('click', function(e) 
    {
        if (entrances === false) 
        {
            if (e.layer != lastCircle && lastCircle != null) 
            {
            //console.log("distintos")
            secondLastCircle = lastCircle;
            lastCircle = e.layer;
            var polyline = L.polyline([lastCircle.getLatLng(), secondLastCircle.getLatLng()],{feature: 'newPoly'}).addTo(routesPolylines);
            L.DomEvent.stopPropagation(e);
            } else 
            {
            //console.log("Iguales")
            L.DomEvent.stopPropagation(e);
            }
        } else {
            if (!('id_value' in e.layer.options)) {
                alert('El punto debe estar guardado con anterioridad')
            } else {
                let existe = null;
                listaEntradas.forEach(element => {
                    if (element.edificio__id === selectedBuild.options.id_value && element.punto_camino__id === e.layer.options.id_value) {
                        existe = element;
                    }
                });
                //console.log(existe);
                if (existe === null) {
                    let dict = {feature:'newEntry',edificio__id:selectedBuild.options.id_value,punto_camino__id:e.layer.options.id_value}
                    e.layer.setStyle({fillColor: 'red'});
                    listaEntradas.push(dict)
                    auxiliarEntranceList.addLayer(e.layer);
                    console.log(listaEntradas);
                }
                else{
                    if (!('feature' in existe)) {
                        existe["feature"] = "delEntry";
                        console.log(listaEntradas);
                        e.layer.setStyle({fillColor: 'blue'});
                    } 
                    else if (existe["feature"] === "newEntry") 
                    {
                        let indice = listaEntradas.indexOf(existe);
                        if (indice !== -1) 
                        {
                            listaEntradas.splice(indice, 1);
                        }
                        console.log(listaEntradas);
                        e.layer.setStyle({fillColor: 'blue'});
                    }
                    else{
                        delete existe["feature"];
                        e.layer.setStyle({fillColor: 'red'});
                        console.log(listaEntradas);
                    }
                    
                }
            }
            
        }
    });

    //Funcion click derecho de puntos de camino que muestra las opciones que se pueden realizar
    routePoints.on('contextmenu', function(e) 
    {
        RoutePointsOptions(e,map);
    });

    map.on('contextmenu', function(e) 
    {
        console.log(entrances);
        newRoute = true;
        if (entrances === true) 
        {
            entrances = false;
            selectedBuild = null;
            UnckeckEntrance();
        }
    });

    //Funcion click derecho de lineas de camino que muestra las opciones que se pueden realizar
    routesPolylines.on('contextmenu', function(e) 
    {
        RouteLinesOptions(e,map);
    });

    //Funciones para creacion de edificios
    buildingPoints.on('click', function(e) 
    {
        if (e.layer != lastCircle) {
            //console.log("distintos")
            secondLastCircle = lastCircle;
            lastCircle = e.layer;
            var polyline = L.polyline([lastCircle.getLatLng(), secondLastCircle.getLatLng()],{feature: 'newPoly'}).addTo(routesPolylines);
            L.DomEvent.stopPropagation(e);
        } else {
            //console.log("Iguales")
            L.DomEvent.stopPropagation(e);
        }
        
    });

    //Funcion click derecho de un punto de una estructura de edificacion que muestra las opciones que se pueden realizar
    buildingPoints.on('contextmenu', function(e) 
    {
        BuildingPointsOptions(e,map);
    });
    
    //Funcion click derecho de edificacion creada que muestra las opciones que se pueden realizar
    buildings.on('contextmenu', function(e) 
    {
        CreatedBuildingOptions(e,map);
    });
    buildStructures.on('contextmenu', function(e) 
    {
        BuildingOptions(e,map);
    });
    buildings.on('click', function(e) 
    {
        if (opcionesTrabajo==="1") {
            var circle = L.circle(e.latlng, {radius: 2,fillColor:"blue",feature: 'newPoint'}).addTo(routePoints);
            if (routePoints.getLayers().length > 1 && newRoute === false) {
                if (lastCircle != null) {
                    secondLastCircle = lastCircle;
                    lastCircle = routePoints.getLayers()[routePoints.getLayers().length - 1];
                    var polyline = L.polyline([lastCircle.getLatLng(), secondLastCircle.getLatLng()],{feature: 'newPoly'}).addTo(routesPolylines);
                }
                else
                {
                    lastCircle = routePoints.getLayers()[routePoints.getLayers().length - 1];
                    newRoute = false;
                }
            }else{
                lastCircle = routePoints.getLayers()[routePoints.getLayers().length - 1];
                newRoute = false;
            }
        }
        else if (opcionesTrabajo==="2")//Construccion de Edificios 
        {
            var circle = L.circle(e.latlng, {radius: 2,feature: 'newPoint',color:"green"}).addTo(buildingPoints);
            console.log("hola");
            if (lastCircle != null) {
                secondLastCircle = lastCircle;
                lastCircle = buildingPoints.getLayers()[buildingPoints.getLayers().length - 1];
                estructuraEdificio();
                //var polyline = L.polyline([lastCircle.getLatLng(), secondLastCircle.getLatLng()],{feature: 'newPoly'}).addTo(buildingPolylines);
            }
            else
            {
                lastCircle = buildingPoints.getLayers()[buildingPoints.getLayers().length - 1];
                newRoute = false;
            }
        }
    });

    //funcion que remueve punto de los caminos
    function removeCircle()
    {
        let latlon = selectedLayer.getLatLng();
        //console.log(a.getLatLng())
        if (selectedLayer.options.feature === "newPoint")
        {
            routePoints.removeLayer(selectedLayer);
        }
        else
        {
            selectedLayer.options.feature = "delPoint";
            routePoints.removeLayer(selectedLayer);
            deletedLayers.addLayer(selectedLayer);
        }
        removePolylinesWithLatLng(latlon);
    }

    //Funcion auxiliar que guarda un punto en la variable
    function addCircleToVariable(){
        lastCircle = selectedLayer;
        newRoute = false;
        map.closePopup();
    }

    //funcion que remueve las lineas del mapa con la latlon del punto borrado
    function removePolylinesWithLatLng(latLngRemover)
    {
        routesPolylines.eachLayer(function(layer)
        {
            var latlngs = layer.getLatLngs();
            console.log('latLngRemover');
            console.log(latLngRemover);
            console.log('latlngs');
            console.log(latlngs);
            newRoute = true;
            if(latlngs[0].lat == latLngRemover.lat && latlngs[0].lng == latLngRemover.lng || latlngs[latlngs.length-1].lat == latLngRemover.lat && latlngs[latlngs.length-1].lng == latLngRemover.lng)
            {
                routesPolylines.removeLayer(layer);
                //layer.setStyle({opacity: 0})
            }
            map.closePopup();
        });
    }

    //Funcion que quita las capas del mapa
    function quitar(valor,objetos) {
        //console.log(valor);
        //console.log(typeof objetos);
        if (typeof objetos === "number") {
            filteredLayers = allBuildings.getLayers().filter(function(layer) 
            {
                return layer.options.piso === objetos && layer.options.nombre_fk !== "-";
            });
            console.log(filteredLayers);
            if (valor) {
                filteredLayers.forEach(element => {
                    buildings.addLayer(element);
                });
            } 
            else {
                filteredLayers.forEach(element => {
                    buildings.removeLayer(element);
                });
            }
        } else {
            objetos.forEach(element => {
            if (valor) {
                element.addTo(map);
            } 
            else {
                element.removeFrom(map);
            }
        });
        }
    }
</script>
    
{% endblock %}