{% extends 'adminBase.html' %}

{% block title%}MapaUCM{%endblock%}

{% block MapaUCM %}
<div id="map" style="height: 600px; width: 600px;"></div>

{{ Buildings|json_script:"buildings_json"}}

{% endblock %}

{% block scripts %}

<script>
    function hola(option) {
            console.log(option)
        }
    let map = createMap([-35.43559,-71.61971], 17);
    let buildings = JSON.parse(document.getElementById('buildings_json').textContent);
    let markersGroup = L.featureGroup().addTo(map);
    markersGroup.clearLayers();
    for (let building of buildings){
        L.marker([building.point__lat,building.point__lon]).addTo(markersGroup).bindPopup('<i>'+building.name+'</i><br><a   onclick="HicieronClick3('+building.id+')" >informacion</a>')
    };
    markersGroup.on('contextmenu', function(e) 
    {
        L.DomEvent.stopPropagation(e);
        var contextMenu = L.popup()
            .setLatLng(e.latlng)
            .setContent('<p>Menú emergente</p><ul><li>Opción 1</li><li>Opción 2</li></ul>')
            .openOn(map);
    });
    var layerGroup = L.layerGroup([markersGroup]);
    map.addLayer(layerGroup);
    

    /*
    map.on('contextmenu', function(e) 
    {
    L.DomEvent.stopPropagation(e);
    var contextMenu = L.popup()
        .setLatLng(e.latlng)
        .setContent(

        '<div class="d-flex flex-column">'+
            '<h6>Herramientas</h6>'+
            '<div class="btn-group-vertical" role="group" aria-label="Basic outlined example">'+
                '<button type="button" onclick="hola(1)" class="btn btn-outline-primary">Left</button>'+
                '<button type="button" onclick="hola(2)" class="btn btn-outline-primary">Middle</button>'+
                '<button type="button" onclick="hola(3)" class="btn btn-outline-primary">Right</button>'+
            '</div>'+
        '</div>'
            )
        .openOn(map);
    });
    var polygon = L.polygon([
        [-35.43463,-71.61818],
        [-35.43496,-71.61704],
        [-35.43513,-71.61710],
        [-35.43479,-71.61826]
    ],{interactive:false}).addTo(map);

    polygon.bindTooltip("Nombre del polígono", {permanent: false, direction:"center"});
    */
        /*
        [-35.43463,-71.61818],
        [-35.43496,-71.61704],
        [-35.43513,-71.61710],
        [-35.43479,-71.61826],
        map.on('contextmenu', function(e) {
            var A="a"
            alert(A);
            L.circleMarker([ e.latlng.lat,e.latlng.lng]).addTo(markersGroup);
        });*/
        /*
        var circleArray = [];
        var polylineArray = [];

        map.on('click', function(e) {
            var circle = L.circle(e.latlng, {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5,
                radius: 5
            }).addTo(map);
            circleArray.push(circle);

            if (circleArray.length > 1) {
                var latlngs = [
                    circleArray[circleArray.length - 2].getLatLng(),
                    circleArray[circleArray.length - 1].getLatLng()
                ];

                var polyline = L.polyline(latlngs, {color: 'green'}).addTo(map);
                polylineArray.push(polyline);
            }
        });*/
    document.addEventListener('DOMContentLoaded',() => 
    {
        
        

    });
</script>
    
{% endblock %}