{% extends 'clientBase.html' %}

{% block title%}MapaUCM{%endblock%}

{% block MapaUCM %}
<div class="col" >
    <div class="row m-0" >
        <div class="justify-content-center">
            <div class="input-group mb-2">
                <input class="form-control" list="datalistOptions" id="inputListaEdificios" placeholder="Nombre Sala o Edificio">
                <datalist id="datalistOptions">
                    {% for edificio in listaEdificaciones %}
                    <option value="{{edificio.nombre}}">
                    {% endfor %}
                </datalist>
                <a onclick="buscarInformacionEficio()" class="btn btn-outline-dark" ><i class="bi bi-search"></i></a>
            </div>
        </div>
        
        <div class="justify-content-center">
            <div id="map" style="min-height: 85vh;"></div>
        </div>
    </div>
</div>



{% comment %}
    EL SIGUIENTE MODAL ES PARA LAS OPCIONES O CONTROL DE CAPAS, ESTE CONTIENE CKECKBOX QUE ACTIVAN O DESACTIVAN CAPAS
{% endcomment %}
<div class="modal fade" id="layersModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="layersModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="layersModalLabel">Capas de Edificaciones</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="layersModalBody">
                {% comment %}
                    BODY CON LAS OPCIONES
                {% endcomment %}
                
            </div>
        </div>
    </div>
</div>
{{ estructurasMapa|json_script:"estructurasMapa_json"}}
{{ pisos|json_script:"pisos_json"}}
{{ listaEdificaciones|json_script:"listaEdificaciones_json"}}
{{ puntosMapa|json_script:"puntosMapa_json"}}
{{ lineasMapa|json_script:"lineasMapa_json"}}
{% endblock %}

{% block scripts %}

<script>
    var puntosMapaIniciales = JSON.parse(document.getElementById('puntosMapa_json').textContent);
    var lineasMapaIniciales = JSON.parse(document.getElementById('lineasMapa_json').textContent);
    //mapa
    var map = createMap([-35.43559,-71.61971], 17);
    //Control de mapa
    var CustomControl = customCtrl(map);
    new CustomControl({position: 'topright'}).addTo(map);
    //lista de las estructuras de edificaciones
    var estructurasMapaIniciales = JSON.parse(document.getElementById('estructurasMapa_json').textContent);
    //lista edificaciones
    var listaEdificacionesIniciales = JSON.parse(document.getElementById('listaEdificaciones_json').textContent);
    //lista con el numero de pisos existente
    var listaPisos = JSON.parse(document.getElementById('pisos_json').textContent);
    //grupo que guarda poligonos con la forma de edificios
    var buildings = L.featureGroup().addTo(map);
    var allBuildings = L.featureGroup();
    //Caminos
    var routesPolylines = L.featureGroup().addTo(map);
    var routePoints = L.featureGroup().addTo(map);
    //rellena el mapa con estructuras y layers de pisos en el modal
    RellenarMapaIniciales()
    var selectedLayer;
    var link_ruta = "{% url 'rutaCorta' 'p_lat' 'p_lon' 'e_id' %}"
    var userPositionMarker = null;
    var contextmenuPosition = null;
    var idEjecute;
    var ejecuteLocation = false;
    //console.log(link_ruta);
    buildings.on('click', function(e) 
    {
        BuildingOptions(e,map);
    });
    
    map.on('click', function(e) 
    {
        MapOptions(e,map);
    });
    map.on('contextmenu', function(e) 
    {
        MapOptions(e,map);
    });
    

</script>
    
{% endblock %}